body {
    font-family: sans-serif;
    background-color: var(--white);
    color: var(--gray-shade);
    padding: 20px;
}

.color {
    padding: 30px;
    text-align: center;
}

.color.gray {
    background-color: var(--gray);
}

.color.blue {
    background-color: var(--blue);
}

.color.green {
    background-color: var(--green);
}

.color.red {
    background-color: var(--red);
}

.color.pink {
    background-color: var(--pink);
    color: var(--black);
}

.color.orange {
    background-color: var(--orange);
}

.color.yellow {
    background-color: var(--yellow);
    color: var(--black);
}

.btn {
    background-image: linear-gradient(var(--red-tint), var(--red));
    border-radius: 2px;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    padding: 0 24px;
    border: 1px solid var(--red-shade);
    box-shadow: 0 0 2px var(--red-shade);
}

.btn:hover {
    background-image: linear-gradient(var(--red), var(--red-shade));
}

.alert {
    margin: 12px 0;
    padding: 12px;
    background-color: var(--blue-tint);
    border: 1px solid var(--blue);
    color: var(--blue-shade);
}

.yellow-gradient {
    margin: 12px 0;
    padding: 12px;
    background-image: linear-gradient(var(--yellow-tint), var(--yellow));
    border: 1px solid var(--yellow);
    color: var(--yellow-shade);
}

.gray-gradient {
    margin: 12px 0;
    padding: 12px;
    background-image: linear-gradient(var(--gray-tint), var(--gray));
    border: 1px solid var(--gray);
}

.white-gradient {
    margin: 12px 0;
    padding: 12px;
    background-image: linear-gradient(var(--white), var(--white-shade));
    border: 1px solid var(--white-shade);
    box-shadow: 0 0 4px var(--gray-tint);
}
