$black-tint: #999999;
$black: #1d1d1d;
$black-shade: #161616;
$white-tint: #fbfbfb;
$white: #f7f7f7;
$white-shade: #b9b9b9;
$gray-tint: #b7c0c5;
$gray: #5e747f;
$gray-shade: #47575f;
$blue-tint: #9ed5eb;
$blue: #27a2d2;
$blue-shade: #1d7a9e;
$green-tint: #cde2bd;
$green: #90be6d;
$green-shade: #6c8f52;
$red-tint: #f1a698;
$red: #df3a1a;
$red-shade: #a72c14;
$pink-tint: #f3e3e1;
$pink: #e5c1bd;
$pink-shade: #ac918e;
$orange-tint: #f6cd93;
$orange: #ea9010;
$orange-shade: #b06c0c;
$yellow-tint: #f6efa0;
$yellow: #eadb2c;
$yellow-shade: #b0a421;
